
.dashboard {
    margin: auto;
    display: flex;
    flex-direction: row;
    width: 1200px;
    max-width: 100%;
    min-height: 600px;
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    border-radius: 20px, 20px, 20px, 20px;
  }

.left-sidebar {
    width: 200px;
    min-height: 600px;
    background-color: #227e67;
  }

.sidebar-elements{
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    font-size: 15px;
    color: white;
    padding: 7px 10px;
  }

.right-body {
    background-color: #F0F0F0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

.module-body {
  background-color: white;
  width: 98%;
  padding: 8px 30px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.title-bar{
    background-color: white;
    height: 75px;
    width: 100%;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
    padding: 15px 30px;
  }

.confirm-btn{
    border: 2px solid black;
    border-color: #227e67;
    color: #227e67;
    border-radius: 25px;
    background-color: white;
    padding: 7px 14px;
    font-size: 13px;
    cursor: pointer;
  }

  
.confirm-btn:hover {
    background-color: #227e67;
    color: white;
  }

.button-bar {
  display: flex;
  align-items: center;
  width: max-content;
  height: 50px;
  padding: 35px 10px;
}

.btn-bar-elements {
  width: 300px;
  display: flex;
  justify-content: space-around;
}

.btn-element{
  background-color: white;
  padding: 7px 10px;
  font-size: 13px;
  background-color: #227e67;
  color: white;
}
  