@import url('https://fonts.googleapis.com/css2?family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&display=swap');
ul {
    list-style: none;
    display: flex;
    justify-content: space-between; 
    align-items: center; 
  }
  nav {
    background: linear-gradient(to right, #227e67, white);
    
} 
  nav ul li {
    position: relative;
    z-index: 2;
    padding: 25px 20px; 
    text-decoration: none;

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /* font-optical-sizing: auto;
    font-weight: 100; */
    font-style:normal;
    letter-spacing: 1px;
    
  }

  .rightSide {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 2%;
  }
   li{
    font-size: 2vh;
   }
   .title{
    padding-left: 3%;
   }
  .signInButton{
    border-radius: 10px;
    background-color: #227e67; 
    display: inline-block;
    border-color: #227e67;
    padding: 10px 20px; 
    color: white;
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
  }
  .signInButton > * {
    color: white;
  }
  nav ul li a {
    text-decoration: none;
    color: black;
  }
