@tailwind base;
@tailwind components;
@tailwind utilities;

nav{
    background-color: lightgray;
  }
  
  ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-content: space-between;
  }
  
  nav ul li {
    padding: 8px;
  }

  .dropbtn {
    background-color: #227e67;
    color: white;
    padding: 10px;
    font-size: 13px;
    border: none;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
    padding: 7px 10px;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content button {
    color: black;
    padding: 7px 10px;
    text-decoration: none;
    display: block;
    font-size: 13px;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content button:hover {
    background-color: #ddd;
    min-width: 100%;
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {
    background-color: #227e67;
  }

  .dropdown-bar{
    display: flex;
    justify-content: flex-end;
    padding: 15px 10px
  }

